<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Thông tin</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Job  <em> Agency</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Trang Chủ
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item"><a class="nav-link" href="jobs.html">Công Việc</a></li>

              <li class="nav-item"><a class="nav-link" href="about-us.html">Thông Tin</a></li>

              <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Tìm Hiểu</h4>
              <h2>Chúng tôi là</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Một trong những công ty lớn và uy tín</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/about-1-570x350.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Giúp bạn tiết kiệm thời gian tìm kiếm việc làm</h4>
              <p>Hằng ngày có hàng trăm các nhà tuyển dụng trên khắp thế giới muốn tìm những nguồn lao động phù hợp với công ty của mình. Mỗi công ty lại có những yêu cầu và đặc thù chuyên ngành riêng biệt. Những người lao động cũng cần tìm kiếm những công việc phù hợp với bản thân và nhu cầu của mình kèm theo một hợp đồng tương xứng.</p>
              <p>Vì vậy mà chúng tôi tạo ra website nhằm giảm thiểu thời gian của các doanh nghiệp lớn, tạo điều kiện thuận lợi để những người có nhu cầu tìm kiếm việc làm nhanh chóng và dễ dàng hơn.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Cơ hội tìm kiếm việc làm thật dễ dàng!</h2>
            </div>

            <h5>Chuyên nghiệp hóa các việc tuyển dụng</h5>

            <p>Việc mỗi ngày có rất nhiều công việc tràn lan trên mạng sẽ gây ra bối rối cho người tìm việc. Vì vậy chung tôi sắp xếp, chi tiết và làm giảm đi các thông tin không cần thiết phục vụ tốt nhất cho người tìm kiếm việc làm.   </p>
            <p>Việc tạo ra website không chỉ đáp ứng nhu cầu của mỗi cá nhân hay tổ chức mà chúng tôi muốn quản lý chúng một cách dễ dàng và công nghệ hóa hơn. Việc tiết kiệm thời gian nhưng phải khoa học và áp dụng công nghệ là một bước đi đúng đắn.</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều khoản</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Thông tin</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                </ul>
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Teams</a></li>
                  <li><a href="#">Hepl</a></li>
                  <li><a href="#">Services</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều khoản</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Thông tin</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều khoản</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Thông tin</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Job Agency</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
  </body>

</html>
