<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Trang Chủ</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Job  <em>Agency</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang Chủ
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="jobs.html">Công Việc</a></li>

                <li class="nav-item"><a class="nav-link" href="about-us.html">Thông Tin</a></li>

                <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Tìm kiếm công việc ngay hôm nay!</h4>
            <h2>Sở hữu công việc trong mơ</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Thu hút nhà tuyển dụng</h4>
            <h2>Tìm việc làm thật dễ dàng</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Nhà tuyển dụng</h4>
            <h2>Họ đang tìm kiếm những tài năng</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Việc Làm Hấp Dẫn </h2>
              <a href="jobs.html">Xem thêm <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Thợ kĩ thuật</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i> Kĩ thuật / Công nghệ <br> <strong><i class="fa fa-building"></i> 23 Nguyễn Trãi</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Hà Đông</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Gia sư</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i>Giáo dục / Sư Phạm <br> <strong><i class="fa fa-building"></i> 22 Láng Hạ</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Đống Đa</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Gia sư</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i>Giáo dục / Sư Phạm <br> <strong><i class="fa fa-building"></i> 22 Láng Hạ</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Đống Đa</strong>
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="job-details.html"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
              <div class="down-content">
                <a href="job-details.html"><h4>Gia sư</h4></a>

                <h6>$60 000</h6>

                <h4><small><i class="fa fa-briefcase"></i>Giáo dục / Sư Phạm <br> <strong><i class="fa fa-building"></i> 22 Láng Hạ</strong></small></h4>
                <p><a href="jobs.html" class="filled-button">Apply</a></p>
                <small>
                     <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Type"><i class="fa fa-file"></i> Hợp đồng</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                     <strong title="Location"><i class="fa fa-map-marker"></i> Đống Đa</strong>
                </small>
              </div>
            </div>
          </div>

          


        </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Thông tin</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Vì vậy mà chúng tôi tạo ra website nhằm giảm thiểu thời gian của các doanh nghiệp lớn, tạo điều kiện thuận lợi để những người có nhu cầu tìm kiếm việc làm

                <a href="#">nhanh chóng</a> và <a href="#">dễ dàng</a> hơn.</p>
              <ul class="featured-list">
                <li><a href="#">Website thân thiện, dễ dàng tìm kiếm</a></li>
                <li><a href="#">Phù hợp với nhiều công việc khác nhau</a></li>
                <li><a href="#">Địa chỉ tin cậy cho các nhà tuyển dụng lớn</a></li>
                <li><a href="#">Miễn phí và không chuyên môn hóa quá trình tuyển dụng</a></li>
              </ul>
              <a href="about-us.html" class="filled-button">Đọc Thêm</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/about-1-570x350.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Đánh Giá Trang Web</h2>

              <a href="testimonials.html"> Xem thêm <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Nguyễn Văn Anh</h4>
                  <p class="n-m"><em>"Thật nhanh chóng và tiên lợi. Thay vì phải ra ngoài tìm kiếm thì tôi đã có công việc trong mơ"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Trần Thị Bình</h4>
                  <p class="n-m"><em>"Một địa chỉ đáng tin cậy cho những nhà tuyển dụng như chúng tôi"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Vũ Văn Cường</h4>
                  <p class="n-m"><em>"Việc tuyển dụng chưa bao giờ dễ dàng hơn với những nhà tuyển dụng lớn!"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Nguyễn Văn Anh</h4>
                  <p class="n-m"><em>"Thật nhanh chóng và tiên lợi. Thay vì phải ra ngoài tìm kiếm thì tôi đã có công việc trong mơ"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Nguyễn Văn Anh</h4>
                  <p class="n-m"><em>"Thật nhanh chóng và tiên lợi. Thay vì phải ra ngoài tìm kiếm thì tôi đã có công việc trong mơ"</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Nguyễn Văn Anh</h4>
                  <p class="n-m"><em>"Thật nhanh chóng và tiên lợi. Thay vì phải ra ngoài tìm kiếm thì tôi đã có công việc trong mơ"</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Liên hệ công việc, liên hệ quảng cáo và muốn tìm thêm thông tin hữu ích?</h4>
                  <p>Chúng tôi luôn sẵn sàng phục vụ nhu cầu của nhà tuyển dụng và người tìm việc. Trải nghiệm của người dùng luôn được ưu tiên hàng đầu</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Job Agency</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
  </body>
</html>