<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Chi tiết công việc</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html"><h2>Job Agency <em>Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Trang Chủ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="jobs.html">Công Việc</a></li>

                        <li class="nav-item"><a class="nav-link" href="about-us.html">Thông Tin</a></li>

                        <li class="nav-item"><a class="nav-link" href="contact.html">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4> Ngành Kĩ thuật / Công nghệ</h4>

              <h2>Thợ Kỹ Thuật</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8">
              <p class="lead">
                   <i class="fa fa-map-marker"></i> Đống Đa &nbsp;&nbsp;
                   <i class="fa fa-calendar"></i> 20-06-2020 &nbsp;&nbsp;
                   <i class="fa fa-file"></i> Hợp đồng
              </p>

              <br>
              <br>
              
              <div class="form-group">
                <h5>Mô tả công việc</h5>
              </div>

              <p>Thợ kỹ thuật Là người Gia công, sửa chữa các thiết bị khuôn, các loại máy móc cơ khí</p>   
              <br/>
              <p> Gò hàn, gia công, lắp ráp các thiết bị nhà xưởng, thiết bị công trình. Sửa chữa và bảo dưỡng thiết bị trong sản xuất của công ty + Hỗ trợ lắp đặt sữa chữa các hệ thống phụ trợ, hỗ trợ cho sản xuất (hút bụi, khí nén, vệ sinh đường ống, phòng cháy chữa cháy,..).Đọc hiểu bản vẽ kỹ thuật và ra kích thước phôi cho việc đưa vào máy cắt; đục, chạm khắc các loại sản phẩm theo yêu cầu.Thực hiện công việc theo sự điều động phân công của cấp trên.</p> 
              
              <br>
              <br>
          </div>

          <div class="col-md-3 col-sm-4">
            <div class="contact-form">
              <div class="form-group">
                <button type="submit" class="filled-button btn-block">Apply for this job</button>
              </div>
            </div>

            <div>
              <img src="assets/images/product-1-370x270.jpg" alt="" class="img-fluid wc-image">
            </div>

            <br>

            <ul class="social-icons text-center">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>

            <br>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="section-heading">
              <h2>Mô tả công ty Technical Machine</h2>
            </div>

            <p class="lead">
                   <i class="fa fa-map-marker"></i> Đống Đa
              </p>

            <p>Gò hàn, gia công, lắp ráp các thiết bị nhà xưởng, thiết bị công trình. Sửa chữa và bảo dưỡng thiết bị trong sản xuất của công ty + Hỗ trợ lắp đặt sữa chữa các hệ thống phụ trợ, hỗ trợ cho sản xuất (hút bụi, khí nén, vệ sinh đường ống, phòng cháy chữa cháy,..).Đọc hiểu bản vẽ kỹ thuật và ra kích thước phôi cho việc đưa vào máy cắt; đục, chạm khắc các loại sản phẩm theo yêu cầu.Thực hiện công việc theo sự điều động phân công của cấp trên.</p>
            <br>
            <p>Gò hàn, gia công, lắp ráp các thiết bị nhà xưởng, thiết bị công trình. Sửa chữa và bảo dưỡng thiết bị trong sản xuất của công ty + Hỗ trợ lắp đặt sữa chữa các hệ thống phụ trợ, hỗ trợ cho sản xuất (hút bụi, khí nén, vệ sinh đường ống, phòng cháy chữa cháy,..).Đọc hiểu bản vẽ kỹ thuật và ra kích thước phôi cho việc đưa vào máy cắt; đục, chạm khắc các loại sản phẩm theo yêu cầu.Thực hiện công việc theo sự điều động phân công của cấp trên.</p>
          </div>

          <div class="col-md-3">
            <div class="section-heading">
              <h2>Thông Tin Liên Hệ</h2>
            </div>
            
            <div class="left-content">
              <p>
                <span>Tên</span>

                <br>

                <strong>Nguyễn Thành Nam</strong>
              </p>

              <p>
                <span>Điện thoại</span>

                <br>
                
                <strong>
                  <a href="tel:123-456-789">05914789999</a>
                </strong>
              </p>

              <p>
                <span>Di động</span>

                <br>
                
                <strong>
                  <a href="tel:456789123">0914789655</a>
                </strong>
              </p>

              <p>
                <span>Email</span>

                <br>
                
                <strong>
                  <a href="mailto:john@carsales.com">TMtuyendung@tmcorp-gmail.com</a>
                </strong>
              </p>

              <p>
                <span>Website</span>

                <br>
                
                <strong>
                  <a href="http://www.cannonguards.com/">http://www.technicalmachine.com/</a>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
            
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-item">
              <h5>About Us</h5>
                <ul class="footer-menu">
                  <li><a href="#">Điều Khoản</a></li>
                  <li><a href="#">Dịch Vụ</a></li>
                  <li><a href="#">Hỗ trợ</a></li>
                  <li><a href="#">Liên Hệ</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Job Agency</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Hẹn Lịch</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form">
              <form action="#" id="contact">
                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Pick-up location" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Return location" required="">
                          </fieldset>
                       </div>
                  </div>

                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Return date/time" required="">
                          </fieldset>
                       </div>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter full name" required="">

                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Enter email address" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Enter phone" required="">
                          </fieldset>
                       </div>
                  </div>
              </form>
           </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
            <button type="button" class="btn btn-primary">Đặt lịch</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
  </body>

</html>
